*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display:flex ;
    font-family: 'Times New Roman', Times, serif;
    
}

#foto{
    background-image: url(/images/foto.jpg);
    margin: 15px;
    border-radius: 56%;
    width: 140px;
    height: 160px;
    border-style:  solid ;
    border-width: 1px;
    position: sticky;
    background-size: cover;    
}

.part1{
    width: 50%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(155, 232, 216);
    align-items: bottom;
    justify-content: bottom;
    line-height: 2;
    border: 1px solid ;

}
.part2{
    width: 40%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(120, 193, 243);
    border: 1px solid ;
    line-height: 3;
}
.part3{
    width: 40%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(155, 232, 216);
    border: 1px solid;

}
.title1{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;

}
.part2 > h2 {
    border-bottom: 1px solid;
    text-align: center;
}
.part3 > h2 {
    border-bottom:1px solid ;
    text-align: center;
}
